@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-body antialiased;
  scroll-behavior: smooth;
}

.scrollToTopButton {
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.scrollToTopButton.visible {
  opacity: 1;
}
