@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-body antialiased;
  scroll-behavior: smooth;
}

.scrollToTopButton {
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.scrollToTopButton.visible {
  opacity: 1;
}

/* Fade-In und Fade-Out-Animationen */
.fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
}

.fade-out {
  animation: fadeOut 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}
